@charset "UTF-8";
/*
*Default ----------------------------------------------------------------
*/
/* line 3, ../sass/basic.scss */
body {
  font-family: "Roboto", "微軟正黑體", STHeiti, arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.085rem;
  color: #231815;
}
@media screen and (max-width: 576px) {
  /* line 3, ../sass/basic.scss */
  body {
    font-size: 15px;
  }
}
/* line 13, ../sass/basic.scss */
body.no-scroll {
  overflow-y: hidden;
}

/* line 17, ../sass/basic.scss */
a {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
/* line 19, ../sass/basic.scss */
a:hover, a:active {
  outline: none;
  text-decoration: none;
}

/* line 24, ../sass/basic.scss */
p {
  margin-bottom: 1.5rem;
}

/* line 28, ../sass/basic.scss */
h1, h2, h3, h4, h5, h6 {
  color: #231815;
  font-family: "Roboto", "微軟正黑體", STHeiti, arial, sans-serif;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
}

/* line 35, ../sass/basic.scss */
button, input, select, textarea {
  font-family: "Roboto", "微軟正黑體", STHeiti, arial, sans-serif;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

/* line 39, ../sass/basic.scss */
select, textarea {
  width: 100%;
  border: 1px solid #ced4da;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  color: #495057;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* line 46, ../sass/basic.scss */
select:focus, select:hover, textarea:focus, textarea:hover {
  color: #000;
}

/* line 51, ../sass/basic.scss */
select.zj-select {
  width: 100%;
  padding: 10px 15px;
  border: 2px solid #F76830;
  font-size: 1.15rem;
  color: #F76830;
  font-weight: bold;
  background: url(../images/sort-dw.svg) no-repeat right 12px center;
  background-size: 14px 16px;
}
/* line 60, ../sass/basic.scss */
select.zj-select option {
  font-weight: bold;
  line-height: 1.8;
}
/* line 64, ../sass/basic.scss */
select.zj-select optgroup {
  color: #7C7C7C;
}
/* line 66, ../sass/basic.scss */
select.zj-select optgroup option {
  color: #E74222;
  font-weight: normal;
}
/* line 72, ../sass/basic.scss */
select.custom-select {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

/* line 76, ../sass/basic.scss */
.custom-control {
  cursor: pointer;
}
/* line 78, ../sass/basic.scss */
.custom-control .custom-control-label {
  cursor: pointer;
}
/* line 80, ../sass/basic.scss */
.custom-control .custom-control-label:before {
  background-color: rgba(124, 124, 124, 0.2);
}
/* line 86, ../sass/basic.scss */
.custom-control .custom-control-input:checked ~ .custom-control-label:before {
  background-color: #E74222;
}
/* line 91, ../sass/basic.scss */
.custom-control .custom-control-description {
  padding-top: 3px;
}
/* line 95, ../sass/basic.scss */
.custom-control.custom-radio:not(:last-of-type) {
  margin-bottom: 8px;
}
/* line 98, ../sass/basic.scss */
.custom-control.custom-radio .custom-control-label {
  padding-left: 8px;
}
/* line 103, ../sass/basic.scss */
.custom-control.custom-radio .custom-control-input:checked ~ .custom-control-label:after {
  background: none;
}

/* line 110, ../sass/basic.scss */
::-webkit-selection {
  color: #fff;
  background: #DC5353;
}

/* line 114, ../sass/basic.scss */
::-moz-selection {
  color: #fff;
  background: #DC5353;
}

/* line 118, ../sass/basic.scss */
::selection {
  color: #fff;
  background: #DC5353;
}

/* line 3, ../sass/header.scss */
#header {
  position: relative;
  width: 100%;
  background-color: #fff;
  z-index: 99;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
/* line 10, ../sass/header.scss */
#header nav {
  padding: 0;
}
/* line 12, ../sass/header.scss */
#header nav .logo {
  display: block;
}
/* line 14, ../sass/header.scss */
#header nav .logo a {
  display: block;
  padding: 3px 0;
}
/* line 18, ../sass/header.scss */
#header nav .logo img {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  height: 40px;
}
/* line 23, ../sass/header.scss */
#header nav .navbar-nav {
  color: rgba(255, 255, 255, 0);
}
/* line 25, ../sass/header.scss */
#header nav .navbar-nav li {
  list-style: none;
}
/* line 27, ../sass/header.scss */
#header nav .navbar-nav li a {
  text-align: center;
  color: #231815;
}
/* line 30, ../sass/header.scss */
#header nav .navbar-nav li a:hover, #header nav .navbar-nav li a:active {
  color: #E74222;
}
/* line 36, ../sass/header.scss */
#header nav .navbar-nav.menus li {
  position: relative;
}
/* line 39, ../sass/header.scss */
#header nav .navbar-nav.menus li a:hover, #header nav .navbar-nav.menus li a:active {
  color: #F76830;
  letter-spacing: 0.25rem;
}
/* line 44, ../sass/header.scss */
#header nav .navbar-nav.menus li.sub-menu-parent {
  position: relative;
}
/* line 48, ../sass/header.scss */
#header nav .navbar-nav.menus li.sub-menu-parent .sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 0;
  opacity: 0;
  z-index: -1;
  background-color: #fff;
  border: 1px solid #e9e9e9;
  -moz-transform: translateY(-2em);
  -o-transform: translateY(-2em);
  -ms-transform: translateY(-2em);
  -webkit-transform: translateY(-2em);
  transform: translateY(-2em);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  -webkit-transition: visibility 0s linear 0.3s;
  -moz-transition: visibility 0s linear 0.3s;
  -o-transition: visibility 0s linear 0.3s;
  transition: visibility 0s linear 0.3s;
  -webkit-transition: z-index 0s linear 0.01s;
  -moz-transition: z-index 0s linear 0.01s;
  -o-transition: z-index 0s linear 0.01s;
  transition: z-index 0s linear 0.01s;
  -webkit-box-shadow: 3px 3px 5px rgba(57, 63, 72, 0.15);
  -moz-box-shadow: 3px 3px 5px rgba(57, 63, 72, 0.15);
  box-shadow: 3px 3px 5px rgba(57, 63, 72, 0.15);
}
/* line 66, ../sass/header.scss */
#header nav .navbar-nav.menus li.sub-menu-parent .sub-menu li {
  width: 100%;
}
/* line 68, ../sass/header.scss */
#header nav .navbar-nav.menus li.sub-menu-parent .sub-menu li a {
  padding-left: 0;
}
/* line 71, ../sass/header.scss */
#header nav .navbar-nav.menus li.sub-menu-parent .sub-menu li:hover, #header nav .navbar-nav.menus li.sub-menu-parent .sub-menu li:focus, #header nav .navbar-nav.menus li.sub-menu-parent .sub-menu li:active {
  background-color: #E74222;
}
/* line 73, ../sass/header.scss */
#header nav .navbar-nav.menus li.sub-menu-parent .sub-menu li:hover a, #header nav .navbar-nav.menus li.sub-menu-parent .sub-menu li:focus a, #header nav .navbar-nav.menus li.sub-menu-parent .sub-menu li:active a {
  color: #fff;
  letter-spacing: 0.25rem;
}
/* line 81, ../sass/header.scss */
#header nav .navbar-nav.menus li.sub-menu-parent:hover .iconify, #header nav .navbar-nav.menus li.sub-menu-parent:active .iconify {
  color: #F76830;
  opacity: 1;
}
/* line 88, ../sass/header.scss */
#header nav .navbar-nav.menus li.sp a {
  display: block;
  text-align: center;
  outline: none;
  text-decoration: none;
  color: #F76830;
}
/* line 94, ../sass/header.scss */
#header nav .navbar-nav.menus li.sp a .iconify {
  position: relative;
  display: block;
  font-size: 1.75rem;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
/* line 100, ../sass/header.scss */
#header nav .navbar-nav.menus li.sp a span {
  display: block;
  padding-top: 3px;
  font-size: 0.8rem;
}
/* line 105, ../sass/header.scss */
#header nav .navbar-nav.menus li.sp a:hover, #header nav .navbar-nav.menus li.sp a:active {
  color: #F76830;
  letter-spacing: 0.085rem;
  opacity: 0.75;
}
/* line 117, ../sass/header.scss */
#header nav li.sp a {
  position: relative;
  display: block;
  text-align: center;
  outline: none;
  text-decoration: none;
  color: #F76830;
}
/* line 124, ../sass/header.scss */
#header nav li.sp a span {
  display: block;
  padding-top: 3px;
  font-size: 0.8rem;
}
/* line 128, ../sass/header.scss */
#header nav li.sp a span.spot {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 22px;
  height: 22px;
  text-align: center;
}
/* line 135, ../sass/header.scss */
#header nav li.sp a span.spot:before {
  position: absolute;
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  background-color: #9C1309;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
/* line 144, ../sass/header.scss */
#header nav li.sp a span.spot span {
  position: absolute;
  display: block;
  top: -13px;
  right: -1px;
  width: 100%;
  color: #fff;
  font-size: 0.75rem;
}
/* line 155, ../sass/header.scss */
#header nav li.sp a .iconify {
  position: relative;
  display: block;
  font-size: 1.75rem;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
/* line 161, ../sass/header.scss */
#header nav li.sp a:hover, #header nav li.sp a:active, #header nav li.sp a:focus {
  color: #F76830;
  letter-spacing: 0.085rem;
  opacity: 0.75;
}
/* line 169, ../sass/header.scss */
#header nav .navbar {
  padding: 0;
}
/* line 171, ../sass/header.scss */
#header nav .navbar ul {
  position: relative;
  padding: 0;
  margin: 0;
}
/* line 175, ../sass/header.scss */
#header nav .navbar ul li {
  display: inline-block;
  margin-right: 1.8rem;
  list-style: none;
  line-height: 50px;
}
/* line 181, ../sass/header.scss */
#header nav .navbar ul li.sp a {
  color: #E74222;
}
/* line 184, ../sass/header.scss */
#header nav .navbar ul li.sp:last-of-type {
  margin-right: 2rem;
}
/* line 191, ../sass/header.scss */
#header nav .menu {
  display: none;
  padding: 0;
  z-index: 99;
  cursor: pointer;
}
/* line 196, ../sass/header.scss */
#header nav .menu .burger {
  position: relative;
  width: 26px;
  height: 50px;
  z-index: 1001;
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* line 203, ../sass/header.scss */
#header nav .menu .burger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #E74222;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
/* line 214, ../sass/header.scss */
#header nav .menu .burger span:nth-child(1) {
  top: 15px;
}
/* line 217, ../sass/header.scss */
#header nav .menu .burger span:nth-child(2) {
  top: 22px;
}
/* line 220, ../sass/header.scss */
#header nav .menu .burger span:nth-child(3) {
  top: 29px;
}
/* line 226, ../sass/header.scss */
#header nav .menu .active span {
  background: #F76830;
}
/* line 228, ../sass/header.scss */
#header nav .menu .active span:nth-child(1) {
  top: 24px;
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
/* line 232, ../sass/header.scss */
#header nav .menu .active span:nth-child(2) {
  opacity: 0;
  left: -200px;
}
/* line 236, ../sass/header.scss */
#header nav .menu .active span:nth-child(3) {
  top: 24px;
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
/* line 244, ../sass/header.scss */
#header.fixed {
  position: fixed;
  top: 0;
}
@media screen and (min-width: 768px) {
  /* line 251, ../sass/header.scss */
  #header nav .logo img {
    height: 50px;
  }
  /* line 259, ../sass/header.scss */
  #header.fixed nav .logo img {
    height: 40px;
  }
}
@media screen and (min-width: 992px) {
  /* line 269, ../sass/header.scss */
  #header nav .navbar-nav > li {
    padding: 0 0.4rem;
  }
  /* line 271, ../sass/header.scss */
  #header nav .navbar-nav > li a {
    text-align: center;
    font-weight: bold;
  }
  /* line 274, ../sass/header.scss */
  #header nav .navbar-nav > li a.nav-link {
    display: inline-block;
    padding: 10px;
    padding-right: 5px;
  }
  /* line 280, ../sass/header.scss */
  #header nav .navbar-nav > li .iconify {
    display: inline-block;
  }
  /* line 284, ../sass/header.scss */
  #header nav .navbar-nav > li.sub-menu-parent .iconify {
    opacity: 0.85;
    color: #231815;
  }
  /* line 289, ../sass/header.scss */
  #header nav .navbar-nav > li.sub-menu-parent .sub-menu li {
    padding: 0.75rem 0;
    text-align: center;
  }
  /* line 295, ../sass/header.scss */
  #header nav .navbar-nav > li.sub-menu-parent:hover .sub-menu, #header nav .navbar-nav > li.sub-menu-parent:focus .sub-menu, #header nav .navbar-nav > li.sub-menu-parent:focus-within .sub-menu {
    width: 120%;
  }
  /* line 300, ../sass/header.scss */
  #header nav .navbar-nav > li.sp {
    padding: 0 0.8rem;
  }
  /* line 302, ../sass/header.scss */
  #header nav .navbar-nav > li.sp:last-of-type {
    padding-right: 0;
  }
  /* line 306, ../sass/header.scss */
  #header nav .navbar-nav > li.login {
    display: none;
  }
  /* line 312, ../sass/header.scss */
  #header nav .navbar ul {
    display: none;
  }
  /* line 322, ../sass/header.scss */
  #header.fixed nav .navbar-nav.menus li.sp a .iconify {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 1440px) {
  /* line 333, ../sass/header.scss */
  #header nav .container {
    max-width: 90%;
  }
  /* line 339, ../sass/header.scss */
  #header nav .logo img {
    height: 60px;
  }
  /* line 344, ../sass/header.scss */
  #header nav .navbar-nav li {
    padding: 0 0.8rem;
  }
}
@media screen and (max-width: 991px) {
  /* line 351, ../sass/header.scss */
  #header nav {
    padding: 0.25rem 0;
  }
  /* line 355, ../sass/header.scss */
  #header.fixed nav {
    padding: 0;
  }
  /* line 359, ../sass/header.scss */
  #header.fixed nav li.sp a .iconify {
    font-size: 1.25rem;
  }
  /* line 366, ../sass/header.scss */
  #header .offcanvas-collapse {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: rgba(35, 24, 21, 0.95);
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
  }
  /* line 380, ../sass/header.scss */
  #header .offcanvas-collapse.open {
    left: 0;
    visibility: visible;
    z-index: 999;
  }
  /* line 385, ../sass/header.scss */
  #header .offcanvas-collapse .navbar-nav {
    position: relative;
  }
  /* line 387, ../sass/header.scss */
  #header .offcanvas-collapse .navbar-nav.menus {
    padding: 2rem 0;
  }
  /* line 389, ../sass/header.scss */
  #header .offcanvas-collapse .navbar-nav.menus li {
    width: 100%;
  }
  /* line 391, ../sass/header.scss */
  #header .offcanvas-collapse .navbar-nav.menus li.login {
    margin-bottom: 20px;
    text-align: center;
  }
  /* line 394, ../sass/header.scss */
  #header .offcanvas-collapse .navbar-nav.menus li.login a {
    color: #e9e9e9;
    font-size: 0.95rem;
    border-bottom: 1px dotted rgba(233, 233, 233, 0.5);
  }
  /* line 398, ../sass/header.scss */
  #header .offcanvas-collapse .navbar-nav.menus li.login a:hover, #header .offcanvas-collapse .navbar-nav.menus li.login a:focus, #header .offcanvas-collapse .navbar-nav.menus li.login a:active {
    letter-spacing: 0.1rem;
    color: #F76830;
    border-color: rgba(247, 104, 48, 0.5);
  }
  /* line 405, ../sass/header.scss */
  #header .offcanvas-collapse .navbar-nav.menus li.sp {
    display: none;
  }
  /* line 408, ../sass/header.scss */
  #header .offcanvas-collapse .navbar-nav.menus li a {
    font-size: 1.15rem;
    color: #fff;
    text-align: left;
  }
  /* line 412, ../sass/header.scss */
  #header .offcanvas-collapse .navbar-nav.menus li a.nav-link {
    padding: 0.5rem 0.25rem;
    padding-right: 30px;
    font-weight: bolder;
    letter-spacing: 0.5rem;
  }
  /* line 419, ../sass/header.scss */
  #header .offcanvas-collapse .navbar-nav.menus li .iconify {
    position: absolute;
    top: 15px;
    right: 10px;
    color: #fff;
    font-size: 1.05rem;
    cursor: pointer;
  }
  /* line 429, ../sass/header.scss */
  #header .offcanvas-collapse .navbar-nav.menus li:hover a.nav-link {
    color: #ec6950;
  }
  /* line 434, ../sass/header.scss */
  #header .offcanvas-collapse .navbar-nav.menus li.order-last, #header .offcanvas-collapse .navbar-nav.menus li.sub-menu-parent {
    border-bottom: 2px dashed rgba(255, 255, 255, 0.3);
  }
  /* line 437, ../sass/header.scss */
  #header .offcanvas-collapse .navbar-nav.menus li.sub-menu-parent {
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
  }
  /* line 439, ../sass/header.scss */
  #header .offcanvas-collapse .navbar-nav.menus li.sub-menu-parent .sub-menu.active {
    position: relative;
    display: block;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    visibility: visible;
    opacity: 1;
    z-index: 1;
    background-color: transparent;
    border-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  /* line 454, ../sass/header.scss */
  #header .offcanvas-collapse .navbar-nav.menus li.sub-menu-parent .sub-menu.active li {
    width: 100%;
    border: none;
  }
  /* line 457, ../sass/header.scss */
  #header .offcanvas-collapse .navbar-nav.menus li.sub-menu-parent .sub-menu.active li a {
    display: block;
    padding: 0.75rem;
  }
  /* line 461, ../sass/header.scss */
  #header .offcanvas-collapse .navbar-nav.menus li.sub-menu-parent .sub-menu.active li:hover {
    background-color: #E74222;
    border-color: transparent;
  }
  /* line 464, ../sass/header.scss */
  #header .offcanvas-collapse .navbar-nav.menus li.sub-menu-parent .sub-menu.active li:hover a {
    color: #fff;
  }
  /* line 472, ../sass/header.scss */
  #header .offcanvas-collapse .navbar-nav.menus li:first-of-type .nav-link {
    padding-top: 0;
  }
  /* line 480, ../sass/header.scss */
  #header .menu {
    display: block !important;
  }
}
@media screen and (max-width: 767px) {
  /* line 486, ../sass/header.scss */
  #header nav {
    padding: 0.25rem 0.5rem;
  }
  /* line 491, ../sass/header.scss */
  #header nav .navbar ul li.icon-srh {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  /* line 501, ../sass/header.scss */
  #header.fixed nav {
    padding: 0 15px;
  }
}

/* line 3, ../sass/footer.scss */
#footer {
  position: relative;
  padding: 0.5rem 0 0;
  background-color: #7C7C7C;
}
/* line 7, ../sass/footer.scss */
#footer .guide-menu {
  padding: 0.5rem 0 0.75rem;
}
/* line 9, ../sass/footer.scss */
#footer .guide-menu p {
  margin-bottom: 8px;
  color: #e9e9e9;
}
/* line 13, ../sass/footer.scss */
#footer .guide-menu ul {
  padding: 0;
  margin: 0;
}
/* line 16, ../sass/footer.scss */
#footer .guide-menu ul li {
  display: block;
  margin-bottom: 5px;
  list-style: none;
}
/* line 20, ../sass/footer.scss */
#footer .guide-menu ul li:last-of-type {
  margin-bottom: 0;
}
/* line 23, ../sass/footer.scss */
#footer .guide-menu ul li a {
  color: #fff;
  font-size: 0.85rem;
}
/* line 30, ../sass/footer.scss */
#footer .copyright {
  font-weight: 200;
  font-size: 0.85rem;
  padding: 0.5rem 0;
  margin-bottom: 0;
  color: #fff;
}
/* line 36, ../sass/footer.scss */
#footer .copyright .elink {
  color: #f4c51c;
  font-weight: 400;
}
@media screen and (max-width: 767px) {
  /* line 42, ../sass/footer.scss */
  #footer .guide-menu {
    display: none;
  }
}

/* line 3, ../sass/button.scss */
.btn {
  width: 150px;
  padding: 8px 18px;
  font-size: 0.95rem;
  cursor: pointer;
  outline: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
/* line 13, ../sass/button.scss */
.btn.btn-sm {
  width: auto;
  padding: 5px 15px;
}
/* line 17, ../sass/button.scss */
.btn:hover {
  text-decoration: none;
  outline: none;
}

/* 主要：確認/執行鍵 */
/* line 23, ../sass/button.scss */
.btn-primary {
  background-color: #F76830;
  border-color: #F76830;
}
/* line 26, ../sass/button.scss */
.btn-primary:hover, .btn-primary:active {
  background-color: #E74222;
  border-color: #E74222;
}
/* line 30, ../sass/button.scss */
.btn-primary.disabled {
  background-color: #ec6950;
}
/* line 32, ../sass/button.scss */
.btn-primary.disabled:hover, .btn-primary.disabled:active {
  background-color: #ec6950;
}

/* 次要：取消/返回鍵 */
/* line 38, ../sass/button.scss */
.btn-light {
  background-color: rgba(124, 124, 124, 0.05);
  border-color: #e9e9e9;
  color: #7C7C7C;
}
/* line 42, ../sass/button.scss */
.btn-light:hover, .btn-light:active {
  background-color: rgba(124, 124, 124, 0.1);
  border-color: rgba(124, 124, 124, 0.1);
  color: #231815;
}

/* 次要：選項/執行鍵 */
/* line 49, ../sass/button.scss */
.btn-outline {
  background-color: transparent;
  border-color: #E74222;
  color: #E74222;
  border-width: 2px;
}
/* line 54, ../sass/button.scss */
.btn-outline:hover, .btn-outline:active {
  background-color: #E74222;
  border-color: #E74222;
  color: #fff;
}

/* line 60, ../sass/button.scss */
.btn-fb {
  background-color: #3b5998;
  color: #fff !important;
}
/* line 63, ../sass/button.scss */
.btn-fb:hover {
  background-color: #2C52A5;
}

/* line 4, ../sass/content.scss */
#page {
  width: 100%;
  overflow-x: hidden;
}

/* line 8, ../sass/content.scss */
.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 333;
}

/* line 19, ../sass/content.scss */
#sidebar {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100vh;
  padding: 0.75rem;
  background: #fff;
  overflow-y: auto;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  z-index: 999;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 31, ../sass/content.scss */
#sidebar.active {
  right: 0;
}
/* line 34, ../sass/content.scss */
#sidebar #dismiss {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #999;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 41, ../sass/content.scss */
#sidebar #dismiss .iconify {
  font-size: 1.5rem;
}
/* line 44, ../sass/content.scss */
#sidebar #dismiss:hover {
  color: #F76830;
}
/* line 48, ../sass/content.scss */
#sidebar .sidebar-header {
  padding: 25px 5px 15px;
  border-bottom: 1px solid rgba(124, 124, 124, 0.5);
}
/* line 51, ../sass/content.scss */
#sidebar .sidebar-header h4 {
  margin-bottom: 0;
}
/* line 55, ../sass/content.scss */
#sidebar .cart-row {
  display: inline-block;
  width: 100%;
  padding: 15px 0;
  margin-bottom: 8px;
  border-bottom: 1px solid rgba(124, 124, 124, 0.5);
}
/* line 61, ../sass/content.scss */
#sidebar .cart-row li {
  display: inline-block;
  list-style: none;
  float: left;
}
/* line 65, ../sass/content.scss */
#sidebar .cart-row li.cart-item {
  width: auto;
}
/* line 67, ../sass/content.scss */
#sidebar .cart-row li.cart-item .pro-img {
  display: block;
  width: 50px;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
}
/* line 74, ../sass/content.scss */
#sidebar .cart-row li.cart-item .pro-img:before {
  display: block;
  content: "";
  padding-bottom: 100%;
}
/* line 81, ../sass/content.scss */
#sidebar .cart-row li.description {
  width: 60%;
  padding-left: 10px;
}
/* line 84, ../sass/content.scss */
#sidebar .cart-row li.description .name {
  font-size: 15px;
}
/* line 88, ../sass/content.scss */
#sidebar .cart-row li.description .amount:after {
  display: inline-block;
  content: "x";
  padding: 0 0.25rem;
  opacity: 0.8;
}
/* line 96, ../sass/content.scss */
#sidebar .cart-row li.description .hp-txt .hint {
  color: #F76830;
}
/* line 98, ../sass/content.scss */
#sidebar .cart-row li.description .hp-txt .hint:before {
  display: inline-block;
  content: "*";
}
/* line 103, ../sass/content.scss */
#sidebar .cart-row li.description .hp-txt .price {
  font-weight: normal;
  font-size: 1rem;
}
/* line 109, ../sass/content.scss */
#sidebar .cart-row li.del {
  width: 10%;
  float: right;
  color: rgba(124, 124, 124, 0.5);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 114, ../sass/content.scss */
#sidebar .cart-row li.del .iconify {
  font-size: 1rem;
  cursor: pointer;
}
/* line 118, ../sass/content.scss */
#sidebar .cart-row li.del:hover, #sidebar .cart-row li.del:active {
  color: rgba(124, 124, 124, 0.8);
}
/* line 124, ../sass/content.scss */
#sidebar .hint-check {
  margin-bottom: 15px;
  text-align: center;
  line-height: 1.6;
}
/* line 128, ../sass/content.scss */
#sidebar .hint-check .pieces {
  padding: 0 0.25rem;
}
/* line 130, ../sass/content.scss */
#sidebar .hint-check .pieces:after {
  display: inline-block;
  content: "件";
  padding-left: 0.15rem;
  opacity: 0.8;
  font-size: 0.9rem;
}
/* line 140, ../sass/content.scss */
#sidebar .checkout .btn-outline {
  width: 180px;
  opacity: 0.7;
}
/* line 143, ../sass/content.scss */
#sidebar .checkout .btn-outline:hover, #sidebar .checkout .btn-outline:active {
  opacity: 1;
}

/* line 149, ../sass/content.scss */
.title {
  font-weight: bolder;
  color: #7C7C7C;
  line-height: 1.8;
  letter-spacing: 0.15rem;
}
/* line 154, ../sass/content.scss */
.title.main-title {
  padding: 5px 0;
  margin-bottom: 15px;
  font-size: 1.5rem;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
/* line 170, ../sass/content.scss */
.img {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* line 175, ../sass/content.scss */
.img:before {
  content: "";
  display: block;
  padding-bottom: 65%;
}

/* line 182, ../sass/content.scss */
#main section {
  position: relative;
  padding: 3.5rem 0 0;
}
/* line 185, ../sass/content.scss */
#main section:first-of-type {
  padding-top: 2rem;
}
/* line 188, ../sass/content.scss */
#main section:last-of-type {
  padding-bottom: 3.5rem;
}
/* line 191, ../sass/content.scss */
#main section#info {
  margin-top: 4rem;
  background-color: #e9e9e9;
}
/* line 194, ../sass/content.scss */
#main section#info .logo {
  text-align: center;
}
/* line 196, ../sass/content.scss */
#main section#info .logo img {
  width: 180px;
}
/* line 202, ../sass/content.scss */
#main section#info .text ul li {
  font-weight: 500;
}
/* line 204, ../sass/content.scss */
#main section#info .text ul li a {
  color: #231815;
}
/* line 206, ../sass/content.scss */
#main section#info .text ul li a:hover, #main section#info .text ul li a:focus, #main section#info .text ul li a:active {
  color: #E74222;
}
@media screen and (max-width: 768px) {
  /* line 182, ../sass/content.scss */
  #main section {
    padding: 2.5rem 0 0;
  }
  /* line 216, ../sass/content.scss */
  #main section:first-of-type {
    padding-top: 2rem;
  }
  /* line 219, ../sass/content.scss */
  #main section:last-of-type {
    padding-bottom: 2.5rem;
  }
  /* line 222, ../sass/content.scss */
  #main section#info {
    margin-top: 2.5rem;
  }
}
/* line 227, ../sass/content.scss */
#main .breadcrumb {
  padding: 0.5rem 3rem;
  margin-bottom: 0;
  background: linear-gradient(45deg, rgba(247, 104, 48, 0.05), rgba(247, 104, 48, 0.75));
}
/* line 232, ../sass/content.scss */
#main .breadcrumb li:before {
  padding-right: 0.15rem;
  color: #F76830 !important;
}
/* line 236, ../sass/content.scss */
#main .breadcrumb li a {
  color: #eee;
  font-size: 14px;
}
/* line 242, ../sass/content.scss */
#main .breadcrumb li.active a {
  color: #fff;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  /* line 227, ../sass/content.scss */
  #main .breadcrumb {
    padding: 0.25rem 1rem;
    background: linear-gradient(45deg, rgba(247, 104, 48, 0.75), rgba(247, 104, 48, 0.05));
  }
  /* line 251, ../sass/content.scss */
  #main .breadcrumb li a {
    color: #fff;
    font-size: 13px;
  }
  /* line 256, ../sass/content.scss */
  #main .breadcrumb li.active a {
    color: #7C7C7C;
  }
}
/* line 263, ../sass/content.scss */
#main .more {
  color: #E74222;
  font-size: 0.85rem;
}
/* line 267, ../sass/content.scss */
#main .red {
  color: #E74222;
}
/* line 270, ../sass/content.scss */
#main .main-bg {
  position: relative;
  background-color: #E74222;
}
/* line 274, ../sass/content.scss */
#main .gray-bg {
  position: relative;
  background-color: #F9F9F9;
}
/* line 278, ../sass/content.scss */
#main .icon-t {
  display: inline-block;
  margin-top: 2px;
}
/* line 282, ../sass/content.scss */
#main .slide {
  text-align: center;
}
/* line 285, ../sass/content.scss */
#main .slick-prev {
  left: 0;
}
/* line 288, ../sass/content.scss */
#main .slick-next {
  right: 0;
}
/* line 291, ../sass/content.scss */
#main .pagination {
  margin-top: 1.5rem;
}
/* line 293, ../sass/content.scss */
#main .pagination li {
  counter-increment: pagination;
}
/* line 295, ../sass/content.scss */
#main .pagination li .page-link {
  color: #231815;
  background-color: #fff;
  border: none;
}
/* line 301, ../sass/content.scss */
#main .pagination li:hover a {
  color: #E74222;
  background-color: #fff;
}
/* line 307, ../sass/content.scss */
#main .pagination li.active a {
  color: #fff;
  background-color: #E74222;
}
/* line 314, ../sass/content.scss */
#main .italic {
  font-style: italic;
}

/* line 318, ../sass/content.scss */
#mob-srh {
  position: fixed;
  width: 100%;
  height: auto;
  left: 0;
  z-index: 888;
  -webkit-box-shadow: rgba(51, 51, 51, 0.25) 0 -1px 5px;
  box-shadow: rgba(51, 51, 51, 0.25) 0 -1px 5px;
  background-color: #fff;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 328, ../sass/content.scss */
#mob-srh .srh-row {
  position: relative;
  display: inline-block;
  padding: 15px 8px 10px;
}
/* line 332, ../sass/content.scss */
#mob-srh .srh-row li {
  display: block;
  list-style: none;
}
/* line 335, ../sass/content.scss */
#mob-srh .srh-row li.au-form {
  padding-top: 10px;
  margin-bottom: 10px;
}
/* line 338, ../sass/content.scss */
#mob-srh .srh-row li.au-form input {
  width: 100%;
  padding: 5px 12px;
  border: 1px solid #E74222;
}
/* line 344, ../sass/content.scss */
#mob-srh .srh-row li.close {
  position: absolute;
  opacity: 0.7;
}
/* line 347, ../sass/content.scss */
#mob-srh .srh-row li.close .iconify {
  color: #999;
  cursor: pointer;
}
/* line 352, ../sass/content.scss */
#mob-srh .srh-row li .keyword {
  padding: 0;
  margin-bottom: 5px;
}
/* line 355, ../sass/content.scss */
#mob-srh .srh-row li .keyword li {
  display: inline-block;
  width: auto;
  padding: 0 5px;
  margin-bottom: 5px;
}
/* line 360, ../sass/content.scss */
#mob-srh .srh-row li .keyword li a {
  color: #F76830;
}
/* line 363, ../sass/content.scss */
#mob-srh .srh-row li .keyword li:first-of-type {
  padding: 0;
}
@media (min-width: 768px) {
  /* line 318, ../sass/content.scss */
  #mob-srh {
    top: -100%;
  }
  /* line 374, ../sass/content.scss */
  #mob-srh .srh-row li.close {
    top: 100%;
    left: calc(50% - 12px);
  }
  /* line 378, ../sass/content.scss */
  #mob-srh .srh-row li.submit {
    text-align: right;
  }
  /* line 380, ../sass/content.scss */
  #mob-srh .srh-row li.submit input[type="submit"] {
    width: 40%;
  }
  /* line 386, ../sass/content.scss */
  #mob-srh.active {
    top: 0;
  }
}
@media (min-width: 1200px) {
  /* line 393, ../sass/content.scss */
  #mob-srh .srh-row li.submit {
    text-align: right;
  }
  /* line 395, ../sass/content.scss */
  #mob-srh .srh-row li.submit input[type="submit"] {
    width: 25%;
  }
}
@media (max-width: 767px) {
  /* line 318, ../sass/content.scss */
  #mob-srh {
    bottom: -100%;
  }
  /* line 404, ../sass/content.scss */
  #mob-srh .container {
    padding: 0;
  }
  /* line 409, ../sass/content.scss */
  #mob-srh .srh-row li.close {
    top: -12px;
    right: 5px;
  }
  /* line 413, ../sass/content.scss */
  #mob-srh .srh-row li input[type="submit"] {
    width: 100%;
  }
  /* line 418, ../sass/content.scss */
  #mob-srh.active {
    bottom: 0;
  }
}

/* line 423, ../sass/content.scss */
.gotosrh {
  right: 10px;
  bottom: 100px;
}
/* line 426, ../sass/content.scss */
.gotosrh a {
  color: #E74222;
}
@media screen and (min-width: 768px) {
  /* line 423, ../sass/content.scss */
  .gotosrh {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  /* line 423, ../sass/content.scss */
  .gotosrh {
    bottom: 70px;
  }
}

/* line 436, ../sass/content.scss */
.gototop {
  right: 12px;
  bottom: 50px;
  opacity: 0;
  visibility: hidden;
}
/* line 441, ../sass/content.scss */
.gototop a {
  opacity: 0.75;
  color: #F76830;
}
/* line 446, ../sass/content.scss */
.gototop:hover a, .gototop:active a {
  opacity: 1;
}
/* line 450, ../sass/content.scss */
.gototop.active {
  opacity: 1;
  visibility: visible;
  cursor: default;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 576px) {
  /* line 436, ../sass/content.scss */
  .gototop {
    bottom: 15px;
  }
}

/* line 460, ../sass/content.scss */
.gotosrh, .gototop {
  position: fixed;
  z-index: 89;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 465, ../sass/content.scss */
.gotosrh a, .gototop a {
  display: block;
  text-align: center;
  outline: none;
  text-decoration: none;
}
/* line 470, ../sass/content.scss */
.gotosrh a .iconify, .gototop a .iconify {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-bottom: 2px;
  font-size: 2rem;
}
/* line 477, ../sass/content.scss */
.gotosrh a span, .gototop a span {
  display: block;
  font-size: 0.8rem;
}
/* line 483, ../sass/content.scss */
.gotosrh:hover a, .gotosrh:active a, .gototop:hover a, .gototop:active a {
  opacity: 1;
  text-decoration: none;
}
@media screen and (max-width: 576px) {
  /* line 460, ../sass/content.scss */
  .gotosrh, .gototop {
    right: 12px;
  }
  /* line 491, ../sass/content.scss */
  .gotosrh a .iconify, .gototop a .iconify {
    font-size: 1.5rem;
  }
}

/* line 497, ../sass/content.scss */
.price {
  position: relative;
  font-size: 1.25rem;
  font-weight: bold;
  color: #E74222;
  letter-spacing: 0;
}
/* line 503, ../sass/content.scss */
.price:before {
  display: inline-block;
  content: "$";
  padding-right: 2px;
  font-size: 13px;
  color: #7C7C7C;
}
/* line 511, ../sass/content.scss */
.price.discount:before {
  content: "- $";
}

/* line 516, ../sass/content.scss */
.hp-txt {
  font-size: 0.85rem;
  color: #7C7C7C;
}

/* line 520, ../sass/content.scss */
.slick-prev, .slick-next {
  width: 50px;
  height: 50px;
  z-index: 59;
}
/* line 524, ../sass/content.scss */
.slick-prev:before, .slick-next:before {
  color: #F76830;
}

@media screen and (max-width: 576px) {
  /* line 528, ../sass/content.scss */
  .text-xs-ctn {
    text-align: center;
  }
}

/* line 533, ../sass/content.scss */
.blank {
  padding-left: 1rem;
}
@media screen and (max-width: 576px) {
  /* line 533, ../sass/content.scss */
  .blank {
    display: block;
  }
}

/* line 4, ../sass/cart-list.scss */
#cart-list .cart-title {
  padding-bottom: 8px;
  font-size: 0.95rem;
}
@media (max-width: 1024px) {
  /* line 9, ../sass/cart-list.scss */
  #cart-list .cart-title .col-md-1 span {
    display: none;
  }
}
/* line 16, ../sass/cart-list.scss */
#cart-list .cart-content > .row {
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
}
/* line 19, ../sass/cart-list.scss */
#cart-list .cart-content > .row:first-of-type {
  border-top: 1px solid #ddd;
}
/* line 22, ../sass/cart-list.scss */
#cart-list .cart-content > .row:not(#cart-list .cart-content > .row:last-of-type) {
  border-bottom: none;
}
/* line 26, ../sass/cart-list.scss */
#cart-list .cart-content .pro-img {
  width: 64px;
  float: left;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
}
/* line 32, ../sass/cart-list.scss */
#cart-list .cart-content .pro-img:before {
  padding-bottom: 100%;
}
/* line 36, ../sass/cart-list.scss */
#cart-list .cart-content .pro-title {
  padding: 0;
  margin-left: 75px;
  margin-bottom: 5px;
  color: #333;
  cursor: pointer;
}
/* line 42, ../sass/cart-list.scss */
#cart-list .cart-content .pro-title li {
  display: block;
  list-style: none;
  word-wrap: break-word;
  font-size: 0.9rem;
}
/* line 47, ../sass/cart-list.scss */
#cart-list .cart-content .pro-title li.name {
  font-size: 1rem;
}
/* line 50, ../sass/cart-list.scss */
#cart-list .cart-content .pro-title li .hint {
  color: #F76830;
}
/* line 52, ../sass/cart-list.scss */
#cart-list .cart-content .pro-title li .hint:before {
  display: inline-block;
  content: "*";
}
/* line 59, ../sass/cart-list.scss */
#cart-list .cart-content .price, #cart-list .cart-content .iconify {
  font-size: 1rem;
  color: #7C7C7C;
}
/* line 63, ../sass/cart-list.scss */
#cart-list .cart-content .remove {
  display: block;
  cursor: pointer;
}
/* line 66, ../sass/cart-list.scss */
#cart-list .cart-content .remove .iconify {
  color: rgba(124, 124, 124, 0.5);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 69, ../sass/cart-list.scss */
#cart-list .cart-content .remove .iconify:hover, #cart-list .cart-content .remove .iconify:active {
  color: rgba(124, 124, 124, 0.8);
}
/* line 74, ../sass/cart-list.scss */
#cart-list .cart-content .ps-text {
  margin: 10px 0;
}
/* line 76, ../sass/cart-list.scss */
#cart-list .cart-content .ps-text a {
  color: #7C7C7C;
  border-bottom: 1px dotted #7C7C7C;
  font-size: 0.9rem;
}
@media (min-width: 768px) {
  /* line 84, ../sass/cart-list.scss */
  #cart-list .cart-content .pro-qua {
    text-align: center;
  }
  /* line 88, ../sass/cart-list.scss */
  #cart-list .cart-content .sub-total .amount {
    display: none;
  }
}
@media (max-width: 767px) {
  /* line 95, ../sass/cart-list.scss */
  #cart-list .cart-content > .row:first-child {
    padding-top: 0;
    border-top: none;
  }
  /* line 101, ../sass/cart-list.scss */
  #cart-list .cart-content .sub-total .amount {
    display: block;
  }
  /* line 105, ../sass/cart-list.scss */
  #cart-list .cart-content .sub-total .price:before {
    display: inline-block;
    content: "小計 $";
  }
  /* line 112, ../sass/cart-list.scss */
  #cart-list .cart-content .remove:after {
    display: inline-block;
    content: "移除";
    font-size: 13px;
    color: rgba(124, 124, 124, 0.5);
  }
}
@media screen and (max-width: 320px) {
  /* line 121, ../sass/cart-list.scss */
  #cart-list .cart-content .pro-img {
    width: 50px;
    height: 50px;
  }
  /* line 125, ../sass/cart-list.scss */
  #cart-list .cart-content .pro-title {
    margin-left: 64px;
  }
}
/* line 130, ../sass/cart-list.scss */
#cart-list .price {
  font-weight: normal;
  color: #231815;
}
/* line 133, ../sass/cart-list.scss */
#cart-list .price.red {
  font-weight: bold;
}
/* line 138, ../sass/cart-list.scss */
#cart-list #total-block .total-block {
  padding: 15px;
  margin: 15px 0 30px;
  line-height: 140%;
  background-color: rgba(233, 233, 233, 0.25);
  border: 2px solid #F76830;
}
/* line 144, ../sass/cart-list.scss */
#cart-list #total-block .total-block ul {
  padding: 0;
  margin-bottom: 0;
}
/* line 147, ../sass/cart-list.scss */
#cart-list #total-block .total-block ul li {
  display: inline-block;
  width: 100%;
  list-style: none;
}
/* line 151, ../sass/cart-list.scss */
#cart-list #total-block .total-block ul li > span {
  display: inline-block;
  width: 50%;
  float: left;
  text-align: right;
}
/* line 156, ../sass/cart-list.scss */
#cart-list #total-block .total-block ul li > span.title {
  line-height: 1.4;
  font-size: 0.95rem;
}
/* line 160, ../sass/cart-list.scss */
#cart-list #total-block .total-block ul li > span.price {
  font-size: 1rem;
  color: #231815;
}
/* line 164, ../sass/cart-list.scss */
#cart-list #total-block .total-block ul li > span.total {
  font-weight: bold;
}
/* line 167, ../sass/cart-list.scss */
#cart-list #total-block .total-block ul li > span.red {
  font-size: 20px;
  color: #E74222;
}

/* line 3, ../sass/act-btns.scss */
.act-btns {
  padding: 0;
  margin: 0;
}
/* line 6, ../sass/act-btns.scss */
.act-btns li {
  display: inline-block;
  list-style: none;
}
/* line 9, ../sass/act-btns.scss */
.act-btns li:first-of-type {
  margin-right: 15px;
}

/* line 4, ../sass/card.scss */
#pro-series .card {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  border: none;
}
/* line 7, ../sass/card.scss */
#pro-series .card .card-body {
  padding: 0.75rem;
  background-color: #E74222;
}
/* line 10, ../sass/card.scss */
#pro-series .card .card-body .card-title {
  margin-bottom: 0;
  text-align: center;
  color: #fff;
}
/* line 16, ../sass/card.scss */
#pro-series .card .list-group {
  padding: 0 15px 15px;
  background-color: rgba(233, 233, 233, 0.75);
}
/* line 19, ../sass/card.scss */
#pro-series .card .list-group .list-group-item {
  position: relative;
  padding: 10px 5px;
  background-color: transparent;
  border: none;
  border-bottom: 1px dashed rgba(124, 124, 124, 0.75);
  border-radius: 0 !important;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 27, ../sass/card.scss */
#pro-series .card .list-group .list-group-item a {
  display: block;
  color: #231815;
  font-weight: bold;
}
/* line 31, ../sass/card.scss */
#pro-series .card .list-group .list-group-item a .iconify {
  margin-top: 2px;
  font-size: 1rem;
  float: right;
  color: rgba(35, 24, 21, 0.75);
}
/* line 38, ../sass/card.scss */
#pro-series .card .list-group .list-group-item:hover, #pro-series .card .list-group .list-group-item:active {
  border-bottom: 1px solid #E74222;
}
/* line 40, ../sass/card.scss */
#pro-series .card .list-group .list-group-item:hover a, #pro-series .card .list-group .list-group-item:active a {
  color: #E74222;
}
/* line 45, ../sass/card.scss */
#pro-series .card .list-group .list-group-item.active > a {
  color: #F76830;
  font-size: 1.05rem;
}
/* line 51, ../sass/card.scss */
#pro-series .card .list-group .list-group {
  padding: 10px 10px 0;
  background-color: transparent;
}
/* line 54, ../sass/card.scss */
#pro-series .card .list-group .list-group .list-group-item {
  padding: 0.5rem 0;
  background-color: transparent;
  border: none;
}
/* line 58, ../sass/card.scss */
#pro-series .card .list-group .list-group .list-group-item a {
  color: #231815;
}
/* line 62, ../sass/card.scss */
#pro-series .card .list-group .list-group .list-group-item:hover a, #pro-series .card .list-group .list-group .list-group-item:active a {
  color: #E74222;
}
/* line 67, ../sass/card.scss */
#pro-series .card .list-group .list-group .list-group-item.active a {
  color: #E74222;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  /* line 77, ../sass/card.scss */
  #pro-series .zj-select {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  /* line 82, ../sass/card.scss */
  #pro-series .card {
    display: none;
  }
  /* line 85, ../sass/card.scss */
  #pro-series .zj-select {
    display: block;
    margin-bottom: 30px;
  }
}

/* line 4, ../sass/auform.scss */
.au-form input, .au-form select {
  padding: 5px 12px;
}
/* line 7, ../sass/auform.scss */
.au-form input {
  width: 100%;
  height: calc(2.25rem + 2px);
  border: 1px solid #ced4da;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  color: #495057;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* line 15, ../sass/auform.scss */
.au-form input:focus, .au-form input:hover {
  color: #000;
}
/* line 19, ../sass/auform.scss */
.au-form textarea {
  height: 180px;
  padding: 10px 12px;
  resize: none;
}
/* line 24, ../sass/auform.scss */
.au-form .help-block {
  display: block !important;
  margin: 0;
}
/* line 27, ../sass/auform.scss */
.au-form .help-block ul {
  margin-top: 5px;
  margin-bottom: 0;
}
/* line 30, ../sass/auform.scss */
.au-form .help-block ul li {
  font-size: 13px;
  line-height: 1.2;
  color: #E74222;
}

/* line 17, ../sass/member.scss */
.member .admin form .au-form label, .login-reg .modal-form form .au-form label {
  font-size: 0.9rem;
  font-weight: bold;
  color: #7C7C7C;
}
/* line 23, ../sass/member.scss */
.member .admin form .form-group, .login-reg .modal-form form .form-group {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
/* line 26, ../sass/member.scss */
.member .admin form .form-group:focus label, .member .admin form .form-group:hover label, .login-reg .modal-form form .form-group:focus label, .login-reg .modal-form form .form-group:hover label {
  color: #E74222;
}
/* line 29, ../sass/member.scss */
.member .admin form .form-group:focus input, .member .admin form .form-group:focus select, .member .admin form .form-group:hover input, .member .admin form .form-group:hover select, .login-reg .modal-form form .form-group:focus input, .login-reg .modal-form form .form-group:focus select, .login-reg .modal-form form .form-group:hover input, .login-reg .modal-form form .form-group:hover select {
  border-color: #E74222;
}

/* line 38, ../sass/member.scss */
.member form .more {
  border-bottom: 1px dotted #E74222;
}
/* line 43, ../sass/member.scss */
.member .card .card-header {
  font-weight: bold;
  color: #7C7C7C;
  font-size: 1.125rem;
}

/* line 52, ../sass/member.scss */
.member .order .order-list {
  display: block;
  padding: 15px;
  background: #f7f7f7;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}
/* line 58, ../sass/member.scss */
.member .order .order-list .list-title {
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
/* line 62, ../sass/member.scss */
.member .order .order-list .list {
  padding: 15px 0;
  color: #333;
  border-bottom: 1px solid #ddd;
}
/* line 66, ../sass/member.scss */
.member .order .order-list .list:last-of-type {
  border-bottom: none;
}
/* line 69, ../sass/member.scss */
.member .order .order-list .list .order_no {
  color: #F76830;
}
/* line 72, ../sass/member.scss */
.member .order .order-list .list .act-btns {
  text-align: right;
  margin-top: 8px;
  margin-bottom: 0;
}
/* line 77, ../sass/member.scss */
.member .order .order-list .list .act-btns li:first-of-type {
  margin-right: 30px;
}
/* line 81, ../sass/member.scss */
.member .order .order-list .list .act-btns a {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: #231815;
}
/* line 84, ../sass/member.scss */
.member .order .order-list .list .act-btns a .iconify {
  margin-right: 8px;
  font-size: 0.75rem;
}
/* line 88, ../sass/member.scss */
.member .order .order-list .list .act-btns a:hover, .member .order .order-list .list .act-btns a:active {
  letter-spacing: 0.25rem;
  color: #F76830;
}
@media screen and (max-width: 767px) {
  /* line 97, ../sass/member.scss */
  .member .order .order-list {
    padding: 0 13px;
  }
  /* line 99, ../sass/member.scss */
  .member .order .order-list .list-title {
    display: none;
  }
  /* line 103, ../sass/member.scss */
  .member .order .order-list .list span.d-block {
    padding: 3px 0;
  }
  /* line 105, ../sass/member.scss */
  .member .order .order-list .list span.d-block:before {
    display: inline-block;
    content: attr(data-th) " : ";
    margin-right: 5px;
    text-transform: uppercase;
  }
  /* line 111, ../sass/member.scss */
  .member .order .order-list .list span.d-block a, .member .order .order-list .list span.d-block .price {
    margin-left: -5px;
  }
  /* line 114, ../sass/member.scss */
  .member .order .order-list .list span.d-block .price {
    font-size: 1.125rem;
  }
}
/* line 123, ../sass/member.scss */
.member .order-de .card {
  margin-bottom: 1.5rem;
}
/* line 127, ../sass/member.scss */
.member .order-de .card .list-group .list-group-item > span {
  position: absolute;
  font-weight: bold;
  color: #7C7C7C;
}
/* line 132, ../sass/member.scss */
.member .order-de .card .list-group .list-group-item > p {
  position: relative;
  padding-left: 130px;
  margin-bottom: 0;
}
/* line 136, ../sass/member.scss */
.member .order-de .card .list-group .list-group-item > p.order_no {
  color: #F76830;
  font-weight: bold;
  font-size: 1.05rem;
}
/* line 143, ../sass/member.scss */
.member .order-de .card .list-group .list-group-item > p.invoice span:not(:first-of-type):before {
  display: inline-block;
  content: "/";
  padding-right: 4px;
  color: #e9e9e9;
}
/* line 154, ../sass/member.scss */
.member .order-de .card .list-group .list-group-item > p.separate span:not(:first-of-type):before {
  display: inline-block;
  content: "";
  width: 10px;
}
/* line 163, ../sass/member.scss */
.member .order-de .card .list-group .list-group-item > p a.more {
  margin-left: 10px;
}
@media (max-width: 991px) {
  /* line 132, ../sass/member.scss */
  .member .order-de .card .list-group .list-group-item > p {
    padding-left: 100px;
  }
}
@media (max-width: 576px) {
  /* line 171, ../sass/member.scss */
  .member .order-de .card .list-group .list-group-item > p .order_no {
    word-break: break-all;
  }
  /* line 175, ../sass/member.scss */
  .member .order-de .card .list-group .list-group-item > p.invoice span:not(:first-of-type) {
    display: block;
  }
  /* line 178, ../sass/member.scss */
  .member .order-de .card .list-group .list-group-item > p.invoice span:not(:first-of-type):before {
    display: none;
  }
}
@media (max-width: 767px) {
  /* line 187, ../sass/member.scss */
  .member .order-de .card .list-group .list-group-item.sp > span {
    position: relative;
  }
  /* line 190, ../sass/member.scss */
  .member .order-de .card .list-group .list-group-item.sp > p {
    display: block;
    padding-left: 0;
    margin-top: 8px;
  }
}
/* line 201, ../sass/member.scss */
.member .order-de .card #cart-list .sub-total .amount {
  display: none;
}
/* line 206, ../sass/member.scss */
.member .order-de .card #cart-list #total-block .total-block {
  margin-bottom: 0;
  line-height: 120%;
}
/* line 209, ../sass/member.scss */
.member .order-de .card #cart-list #total-block .total-block ul {
  margin-bottom: 0;
}
/* line 212, ../sass/member.scss */
.member .order-de .card #cart-list #total-block .total-block ul li span {
  font-size: 1rem;
}
/* line 214, ../sass/member.scss */
.member .order-de .card #cart-list #total-block .total-block ul li span.title {
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  /* line 223, ../sass/member.scss */
  .member .order-de .card #cart-list .cart-title {
    display: none;
  }
  /* line 227, ../sass/member.scss */
  .member .order-de .card #cart-list .sub-total .amount {
    display: block;
    margin-bottom: 8px;
  }
  /* line 230, ../sass/member.scss */
  .member .order-de .card #cart-list .sub-total .amount:before {
    display: inline-block;
    content: "x";
    padding: 0 0.25rem;
    opacity: 0.8;
  }
}
@media screen and (max-width: 991px) {
  /* line 241, ../sass/member.scss */
  .member .order-de .card img.img-fluid {
    display: block;
    margin: 10px auto;
  }
}
/* line 248, ../sass/member.scss */
.member .order-de #act-btns a.more {
  color: #7C7C7C;
  border-bottom: 1px dotted;
  font-size: 1rem;
}
/* line 252, ../sass/member.scss */
.member .order-de #act-btns a.more .iconify {
  margin-right: 5px;
  padding-bottom: 3px;
}
/* line 256, ../sass/member.scss */
.member .order-de #act-btns a.more:hover, .member .order-de #act-btns a.more:active {
  color: #F76830;
}
/* line 266, ../sass/member.scss */
.member .admin form#admin-form .status span {
  color: #E74222;
}
/* line 270, ../sass/member.scss */
.member .admin form#admin-form .upload {
  display: none;
}
/* line 278, ../sass/member.scss */
.member .admin form#address-form .card .card-footer .row:not(:last-of-type) {
  margin-bottom: 15px;
}
/* line 281, ../sass/member.scss */
.member .admin form#address-form .card .card-footer .row .act-btns {
  font-size: 0.9rem;
}
/* line 284, ../sass/member.scss */
.member .admin form#address-form .card .card-footer .row .act-btns li a {
  color: #F76830;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
/* line 287, ../sass/member.scss */
.member .admin form#address-form .card .card-footer .row .act-btns li a:hover, .member .admin form#address-form .card .card-footer .row .act-btns li a:active {
  color: #E74222;
  font-weight: bold;
}
@media screen and (min-width: 992px) {
  /* line 281, ../sass/member.scss */
  .member .admin form#address-form .card .card-footer .row .act-btns {
    text-align: right;
  }
}
/* line 304, ../sass/member.scss */
.member .coupon .table {
  margin-bottom: 0;
  background-color: #fff;
}
/* line 308, ../sass/member.scss */
.member .coupon .table tr:hover {
  background-color: rgba(247, 104, 48, 0.1);
}
/* line 311, ../sass/member.scss */
.member .coupon .table tr th, .member .coupon .table tr td {
  text-align: center;
}
/* line 314, ../sass/member.scss */
.member .coupon .table tr td {
  padding: 0.5rem 0.75rem;
  vertical-align: middle;
}
/* line 317, ../sass/member.scss */
.member .coupon .table tr td ul {
  padding: 0;
  margin: 0;
  text-align: left;
}
/* line 321, ../sass/member.scss */
.member .coupon .table tr td ul li {
  list-style: none;
}
/* line 323, ../sass/member.scss */
.member .coupon .table tr td ul li:not(:last-of-type) {
  margin-bottom: 3px;
}
/* line 329, ../sass/member.scss */
.member .coupon .table tr td span.title {
  margin-bottom: 10px;
  font-weight: bold;
  color: #231815;
}
/* line 336, ../sass/member.scss */
.member .coupon .table tr.tr-only-hide {
  background-color: rgba(233, 233, 233, 0.5);
}
/* line 341, ../sass/member.scss */
.member .coupon .table tr:not(.yet) td .price {
  font-weight: normal;
  font-size: 1rem;
  color: #231815;
}
/* line 351, ../sass/member.scss */
.member .coupon .table tr.yet td span.title {
  font-size: 1.05rem;
  color: #E74222;
}
/* line 355, ../sass/member.scss */
.member .coupon .table tr.yet td span.hint {
  color: #F76830;
}
@media screen and (max-width: 768px) {
  /* line 304, ../sass/member.scss */
  .member .coupon .table {
    min-width: 100%;
  }
  /* line 364, ../sass/member.scss */
  .member .coupon .table tr {
    display: block;
    padding: 0.5rem 0.25rem;
    border-bottom: 1px solid #e9e9e9;
  }
  /* line 368, ../sass/member.scss */
  .member .coupon .table tr:last-child {
    border: none;
  }
  /* line 371, ../sass/member.scss */
  .member .coupon .table tr.tr-only-hide {
    display: none !important;
  }
  /* line 374, ../sass/member.scss */
  .member .coupon .table tr td {
    width: 100%;
    display: block;
    padding: 0.25rem 0.5rem;
    border: 0 !important;
    text-align: left !important;
    overflow: hidden;
    font-size: 0.95rem;
  }
  /* line 382, ../sass/member.scss */
  .member .coupon .table tr td:before {
    display: inline-block;
    content: attr(data-th) " : ";
    margin-right: 10px;
    text-transform: uppercase;
  }
  /* line 389, ../sass/member.scss */
  .member .coupon .table tr td.content:before {
    display: none;
  }
}

/* line 399, ../sass/member.scss */
.login-reg {
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../images/banner/2.jpg) no-repeat top center;
  background-size: cover;
  z-index: 1;
}
/* line 406, ../sass/member.scss */
.login-reg:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 417, ../sass/member.scss */
.login-reg .modal-form {
  padding: 3%;
}
/* line 419, ../sass/member.scss */
.login-reg .modal-form .card {
  width: auto;
  margin: 0 auto;
  border: none;
  -webkit-box-shadow: 2px 8px 20px rgba(106, 39, 17, 0.62);
  box-shadow: 2px 8px 20px rgba(106, 39, 17, 0.62);
}
/* line 425, ../sass/member.scss */
.login-reg .modal-form .card .card-header {
  position: relative;
}
/* line 428, ../sass/member.scss */
.login-reg .modal-form .card .card-body {
  padding: 1.5rem 1.25rem;
}
/* line 432, ../sass/member.scss */
.login-reg .modal-form .card .card-footer .img-fluid {
  height: 53px;
}
/* line 435, ../sass/member.scss */
.login-reg .modal-form .card .card-footer a {
  display: block;
  max-width: 200px;
  margin: 0 auto;
}
/* line 439, ../sass/member.scss */
.login-reg .modal-form .card .card-footer a p {
  margin: 10px 0 0;
  text-align: right;
  color: #7C7C7C;
  font-size: 0.9rem;
}
/* line 444, ../sass/member.scss */
.login-reg .modal-form .card .card-footer a p .iconify {
  margin-right: 5px;
}
/* line 449, ../sass/member.scss */
.login-reg .modal-form .card .card-footer a:hover p, .login-reg .modal-form .card .card-footer a:active p {
  color: #F76830;
}
/* line 455, ../sass/member.scss */
.login-reg .modal-form .card .act-btns {
  display: inline-block;
  width: 100%;
  margin-bottom: 0.5rem;
}
/* line 459, ../sass/member.scss */
.login-reg .modal-form .card .act-btns li {
  width: 50%;
  margin: 0;
  float: left;
}
/* line 463, ../sass/member.scss */
.login-reg .modal-form .card .act-btns li:last-of-type {
  text-align: right;
}
/* line 468, ../sass/member.scss */
.login-reg .modal-form .card .more {
  border-bottom: 1px dotted #E74222;
}
@media screen and (max-width: 768px) {
  /* line 417, ../sass/member.scss */
  .login-reg .modal-form {
    padding: 5%;
  }
}
/* line 477, ../sass/member.scss */
.login-reg.login:before {
  background: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.85) 20%, rgba(51, 51, 51, 0.9) 50%, rgba(0, 0, 0, 0.45) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.85) 20%, rgba(51, 51, 51, 0.9) 50%, rgba(0, 0, 0, 0.45) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.85) 20%, rgba(51, 51, 51, 0.9) 50%, rgba(0, 0, 0, 0.45) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
/* line 483, ../sass/member.scss */
.login-reg.login .modal-form .card {
  width: 25%;
}
/* line 485, ../sass/member.scss */
.login-reg.login .modal-form .card .card-header {
  position: relative;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: none;
}
/* line 492, ../sass/member.scss */
.login-reg.login .modal-form .card .card-header:before {
  content: "";
  display: block;
  padding-bottom: 80%;
}
@media screen and (max-width: 1440px) {
  /* line 500, ../sass/member.scss */
  .login-reg.login .modal-form .card {
    width: 42%;
  }
}
@media screen and (max-width: 1440px) and (max-height: 900px) {
  /* line 507, ../sass/member.scss */
  .login-reg.login .modal-form .card .card-header:before {
    padding-bottom: 50%;
  }
}
@media screen and (max-width: 992px) {
  /* line 514, ../sass/member.scss */
  .login-reg.login .modal-form .card {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  /* line 519, ../sass/member.scss */
  .login-reg.login .modal-form .card {
    width: 60%;
  }
}
@media screen and (max-width: 576px) {
  /* line 524, ../sass/member.scss */
  .login-reg.login .modal-form .card {
    width: 90%;
  }
}
@media screen and (max-width: 360px) {
  /* line 482, ../sass/member.scss */
  .login-reg.login .modal-form {
    padding: 5% 3%;
  }
  /* line 530, ../sass/member.scss */
  .login-reg.login .modal-form .card {
    width: 100%;
  }
}
/* line 537, ../sass/member.scss */
.login-reg.register:before {
  background: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.85) 20%, rgba(51, 51, 51, 0.9) 50%, rgba(0, 0, 0, 0.45) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.85) 20%, rgba(51, 51, 51, 0.9) 50%, rgba(0, 0, 0, 0.45) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.85) 20%, rgba(51, 51, 51, 0.9) 50%, rgba(0, 0, 0, 0.45) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
/* line 543, ../sass/member.scss */
.login-reg.register .modal-form .card {
  width: 40%;
}
/* line 546, ../sass/member.scss */
.login-reg.register .modal-form .card .card-header h4 {
  margin-bottom: 0;
}
/* line 548, ../sass/member.scss */
.login-reg.register .modal-form .card .card-header h4 a {
  display: inline-block;
  margin-left: 8px;
  color: #7C7C7C;
  font-size: 0.85rem;
}
/* line 553, ../sass/member.scss */
.login-reg.register .modal-form .card .card-header h4 a:hover, .login-reg.register .modal-form .card .card-header h4 a:active {
  color: #F76830;
}
/* line 560, ../sass/member.scss */
.login-reg.register .modal-form .card .card-body h6 {
  color: #F76830;
}
@media screen and (max-width: 992px) {
  /* line 566, ../sass/member.scss */
  .login-reg.register .modal-form .card {
    width: 75%;
  }
}
@media screen and (max-width: 576px) {
  /* line 571, ../sass/member.scss */
  .login-reg.register .modal-form .card {
    width: 90%;
  }
}
@media screen and (max-width: 360px) {
  /* line 542, ../sass/member.scss */
  .login-reg.register .modal-form {
    padding: 5% 3%;
  }
  /* line 577, ../sass/member.scss */
  .login-reg.register .modal-form .card {
    width: 100%;
  }
}

/* line 586, ../sass/member.scss */
.modal .modal-content .modal-header {
  padding: 0.75rem 1rem;
}
/* line 588, ../sass/member.scss */
.modal .modal-content .modal-header .close {
  padding: 1.25rem;
}
/* line 593, ../sass/member.scss */
.modal .modal-content .modal-footer #close {
  margin-right: 30px;
}
@media screen and (min-height: 992px) {
  /* line 600, ../sass/member.scss */
  .modal.show .modal-dialog {
    -moz-transform: translate(0, 50%);
    -o-transform: translate(0, 50%);
    -ms-transform: translate(0, 50%);
    -webkit-transform: translate(0, 50%);
    transform: translate(0, 50%);
  }
}
